ion-label {
    color: var(--ion-color-medium)!important;
}

ion-list-header {
    padding-left: 0!important;
}

#list-header-item {
    color: var(--ion-color-primary)!important;
    font-size: 24px;
    margin: 0 8px -0px 0;
}